{"configSettings":[{"appID":"voiceSDK_en","serverToken":""},{"appID":"1727234757643392","serverToken":""},{"appID":"SharedServerToken","serverToken":"ANVHEQZA2KIYK4N4C6LJXV6BRSXCOTBJ"},{"appID":"voiceSDK_de","serverToken":""},{"appID":"403838091988981","serverToken":"ANVHEQZA2KIYK4N4C6LJXV6BRSXCOTBJ"}]}